html, body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5;
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 10px;
}
.card img {
  max-width: 400px;
  height: 400x;
  border-radius: 4px;
}
:root {
  --background-color: #dfb6b6;
  --text-color: #000000;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.dark-theme {
  --background-color: #383838;
  --text-color: #fff;
}
.dark-theme body {
  background-color: var(--background-color);
  color: var(--text-color);
}
